@media (max-width: 768px) {  
    footer {
        div {
            .contact {
                padding: 0.8rem;
            }
        }
    }
}

footer {

    background-color: #0074c7;
    color: white;
    h2 {
        font-size: 1.7rem;
    }
    h3 {
        font-size: 1.2rem;
    }
    div {
         a {
            color: white;
        }
        
    }
}