.details {
    margin-top: 2rem;
    .card {
        max-width: 100vh;
        background-color: #00497c;
        color: white;
        .propos { 
            color: #82b864;
        }
        p {
            i {
                padding-right: 0.5rem;
            }
            a {
                text-decoration: none;
                color: white;
                cursor: pointer;
            }
        }
    }
}

.formulaire {
    border-radius: 15px;
    h2 {
        color: #00497c;
    }
    form {
        .btn {
            margin: auto;
            color: #00497c;
            border-radius: 20px;
            background-color: white;
            border: 2px solid #00497c;
            cursor: pointer;

            &:hover {
                background-color: #00497c;
                color: white;
            }
        }
    }
}
