<main>
    <section>
        <!-- batiment.component.html --> 
        <div class="container mt-5 mb-5">
        <h1 class="text-center mb-4">Artisans de Fabrication</h1>
            <!-- Message si aucun artisan n'est trouvé -->
            <div *ngIf="fabricationArtisans.length === 0" class="alert alert-warning text-center"> Aucun artisan trouvé dans la catégorie Bâtiment. </div>
                <!-- Grille des artisans -->
                <div *ngIf="fabricationArtisans.length > 0 " class="row">
                    <div class="col-12 col-md-6 col-lg-4 mb-5" *ngFor="let artisan of fabricationArtisans">
                        <div class="card h-100">
                            <div class="card-body text-center">
                                <h5 class="card-title">{{ artisan.name }}</h5>
                                <p class="card-text">Catégorie: {{ artisan.category }}</p>
                                <p class="card-text">Note: {{ artisan.note }}</p>
                                <button (click)="detailArtisan(artisan.id)" type="button" class="btn">En Savoir plus</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>
</main>